.local
.icons
.gnupg
.ssh
.steam
.wine
Documents
Downloads
Pictures
Templates
repos
.mozilla
.factorio
.dotnet
.dbus
.config/gtk*
.cert
.cache
.npm
.pki
.steampath
.steampid
.var
.vscode
.config
.cache
.cargo
